{% extends "base.html" %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/carga.css')}}">
{% endblock  %}




{% block body %}

<input type="hidden" name="csrf_token" value="{{csrf_token()}}"> <!--para que no tire error con el token-->
<a class="btn btn-secondary bg-dark text-white" href={{url_for('logout')}} style="float: right;">Cerrar Sesion</a>
<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand fs-6 text-white" href="#">Estudio Contable YANA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSearch">
    <form class="form-inline ml-auto">
      <input class="form-control border-0 rounded-0" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</header>
<a href="/home"  class="btn btn-primary float-right">HOME</a>

<div class="container">
    <div class="fila">
        <a href="/compra" class="boton boton-azul">Compras</a>
        <a href="/venta" class="boton boton-azul">Ventas</a>
    </div>
    <div class="fila">
        <a href="/ingreso" class="boton boton-negro">Ingresos</a>
        <a href="/egreso" class="boton boton-negro">Egresos</a>
    </div>
</div>

{% endblock  %}