{% extends "base.html" %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/fact.css')}}">
{% endblock  %}

{% block title %}VENTA{% endblock  %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{{ url_for('static', filename='js/compra.js') }}"></script>
<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand fs-6 text-white" href="#">Estudio Contable YANA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <a class="btn btn-secondary bg-dark text-white" href="{{url_for('logout')}}">Cerrar Sesión</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>


<h1  style="text-align: center">Balance</h1>
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">

<div style="text-align: center;">
  <form method="post" action="/balance_año">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
  

    <h5>Seleccione un año:</h5>
    <select name="year" class="form-select">
        {% for year in lis %}
            <option value="{{ year }}" {% if year == request.args.get('lis') %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
    <button type="submit">Mostrar </button>
  </form>
  <form method="post" action="/procesar_balance">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <button type="submit" class="btn btn-success">Exportar a Excel</button>
  </form>
</div>

    
<div style="text-align: center; margin-top: 10px;">
      
  <form method="post" action="/mes_balance">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
  
      <h5>Seleccione un mes:</h5>
      <select name="month" class="form-select">
          {% for month in lista %}
              <option value="{{ month }}" {% if month == request.args.get('lista') %}selected{% endif %}>{{ month }}</option>
          {% endfor %}
      </select>
      <button type="submit">Mostrar </button>
  </form>  
  <form method="post" action="/exportar_excel">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <button type="submit" class="btn btn-success">Exportar a Excel</button>
  </form>
</div>


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
      <th>Sumas</th>
      <th>Sumas</th>
      <th>Saldos</th>
      <th>Saldos</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>Debe</th>
        <th>Haber</th>
        <th>Debe</th>
        <th>Haber</th>
    </tr>

  </thead>
  
  <tbody>

  {% for registro in registros %}
  
    <tr>
      <td>{{ registro.0 }}</td>
      <td>{{ registro.1 }}</td>
      <td>{{ registro.2 }}</td>
      <td>{{ registro.3 }}</td> 
      <td>{{ registro.4 }}</td> 
      <td>{{ registro.5 }}</td>

    </tr>
  {%endfor%}
</tbody>
</table>
<table>
  <thead>
    <tr>
      <th>ACTIVOS</th>
      <th>ACTIVOS CORRIENTES</th>
      <th>ACTIVOS NO CORRIENTES</th>
    </tr>
    

  </thead>
  
  <tbody>

  {% for res in resultados %}
  
    <tr>
      <td>{{ res.4 }}</td>
      <td>{{ res.5 }}</td>
      <td>{{ res.6 }}</td>
     
    </tr>
  {%endfor%}
</tbody>
</table>

{% endblock  %}