{% extends "base.html" %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/fact.css')}}">
{% endblock  %}

{% block title %}VENTA{% endblock  %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{{ url_for('static', filename='js/compra.js') }}"></script>
<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand fs-6 text-white" href="#">Estudio Contable YANA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <a class="btn btn-secondary bg-dark text-white" href="{{url_for('logout')}}">Cerrar Sesión</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<h1 style="text-align: center">Balance</h1>
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
<a href="/home" class="btn btn-primary float-left "  >Pagina Principal</a>
<div style="text-align: center;">
  <form method="post" action="/balance_año" id="balanceForm">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="page" id="pageNum" value="1">

    <h5>Seleccione un año:</h5>
    <select name="year" class="form-select">
        {% for year in lis %}
            <option value="{{ year }}" {% if year == request.args.get('lis') %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>
    {% if year %}
      <input type="hidden" name="year" value="{{ year }}">
    {% endif %}
    <button type="submit">Mostrar </button>
  </form>
  <form method="post" action="/procesar_balance">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="hidden" name="year" value="{{ request.form.get('year') }}">
    <button type="submit" class="btn btn-success">Exportar a Excel</button>
  </form>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in dat %}
      
      <tr>
        <td>{{ registro.0 }}</td>
        <td>{{ registro.1 }}</td>
        <td>{{ registro.2 }}</td> 
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if total_pages %}
  <div style="text-align: center;">
    <ul class="pagination">
      {% for page_num in range(1, total_pages + 1) %}
        <li class="page-item {% if page_num == page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('balance_año', page=page_num, year=year) }}">{{ page_num }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
<script>
  $(document).ready(function() {
      $('.pagination a').on('click', function(e) {
          e.preventDefault();
          var page = $(this).text(); // Obtener el número de página seleccionado
          $('#pageNum').val(page); // Actualizar el valor del campo oculto
          $('#balanceForm').submit(); // Enviar el formulario
      });
  });
</script>




{% endblock %}
