{% extends "base.html" %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/fact.css')}}">
{% endblock  %}

{% block title %}VENTA{% endblock  %}


{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{{ url_for('static', filename='js/compra.js') }}"></script>
<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" style="width: 100%;">
  <a class="navbar-brand fs-6 text-white" href="#">Estudio Contable YANA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <a class="btn btn-secondary bg-dark text-white" href="{{url_for('logout')}}" >Cerrar Sesión</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>


<h1  style="text-align: center">Lista de registros</h1>
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
<a href="/home" class="btn btn-primary " >Pagina Principal</a>

<div class="row">
  <div class="col-md-6 mx-auto" style="text-align: center; margin-bottom: 20px;">
    <form method="post" action="/mostrar_registro">
      <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
    

      <h5>Seleccione un año:</h5>
      <select name="year" class="form-select">
          {% for year in lis %}
              <option value="{{ year }}" {% if year == request.args.get('lis') %}selected{% endif %}>{{ year }}</option>
          {% endfor %}
      </select>
      <button type="submit">Mostrar </button>
    </form>
    <form method="post" action="/diario_año">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
      <button type="submit" class="btn btn-success">Exportar a Excel</button>
    </form>
  </div>

      
  <div class="col-md-6 mx-auto" style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        
    <form method="post" action="/mes_registro">
      <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
    
        <h5>Seleccione un mes:</h5>
        <select name="month" class="form-select">
            {% for month in lista %}
                <option value="{{ month }}" {% if month == request.args.get('lista') %}selected{% endif %}>{{ month }}</option>
            {% endfor %}
        </select>
        <button type="submit">Mostrar </button>
    </form>  
    <form method="post" action="/exportar_excel">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
      <button type="submit" class="btn btn-success">Exportar a Excel</button>
    </form>
  </div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>No. Asiento</th>
      <th>Descripción</th>
      <th>Debe</th>
      <th>Haber</th>
    </tr>
  </thead>
  
  <tbody>
{% if registros is not none %}
  {% for registro in registros %}
  
    <tr>
      <td>{{ registro.1 }}</td>
      <td>{{ registro.2 }}</td>
      <td>{{ registro.3 }}</td>
      <td>{{ registro.4 }}</td> 
      <td>{{ registro.5 }}</td>
     
      <td>
        {% if id == 1 %}
          <a href="/editar_registro" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modaledit{{registro.6}}">Editar</a>
        {% endif %}
      </td>
      <td>
        {% if id == 1 %}
            <a href="/borrar_asiento/{{ registro.0 }}" onclick="return confirm('¿Seguro que desea eliminar?')" class="btn btn-danger btn-sm">Eliminar</a>
        {% endif %}
      </td>
    </tr>
    <div id="modaledit{{registro.6}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
 
              <div class="modal-header">
                  <h5 class="modal-title text-primary" style="align-content: center;">Editar</h5>    
              
                </div>
                

              <div class="modal-body">
                  
                  <form action="{{ url_for('editar_registro')}}" method="POST">
                                                                
                      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"> <!--para que no tire error con el token-->
                      <div class="form-group">
                        <label>Fecha</label>
                        <input type="date" name="fecha" id="fecha" class="form-control" value="{{ registro.1 }}">

                        
                      </div>
                      <input type="hidden" name="idregistro" value="{{registro.0}}">
                      <input type="hidden" name="numeroasiento" value="{{registro.2}}">

                      <div class="form-group">
                        <label  >Cuentas:</label>
                        <select id="cuentas" name="descripcion" class="form-control" value="{{ registro.3 }}">
                          {% for cuenta in data %}
                            <option value="{{ cuenta[0] }}" {% if cuenta[2] == registro.7 %}selected{% endif %}>
                              {{ cuenta[1] }} - {{ cuenta[2] }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label>Debe</label>
                        <input value="{{registro.4}}" type="number" name="debe" class="form-control" id="debe" placeholder="">
                      </div>
                      <div class="form-group">
                        <label>Haber </label>
                        <input value="{{registro.5}}" type="number" name="haber" class="form-control" id="haber" placeholder="">
                        
                      </div>
                      <input type="hidden" name="idetalle" value="{{registro.6}}">
                    


                      

                        <button type="submit" class="btn btn-success mb-2">Actualizar</button>
                   
                    </form>


              </div>
          </div>
      </div>

  </div>
  {% endfor %}
{% endif %}
  </tbody>
</table>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
{% endblock  %}