{% extends "base.html" %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/fact.css')}}">
{% endblock  %}

{% block title %}VENTA{% endblock  %}


{% block body %}


<header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand fs-6 text-white" href="#">Estudio Contable YANA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto">
    <a class="btn btn-secondary bg-dark text-white" href="{{url_for('logout')}}">Cerrar Sesión</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>


<h1>Registro de Comprobantes de Ventas</h1>
<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
<a href="/cargar/"  class="btn btn-primary float-left">Volver</a>

<form action="/agregar_diario/" method="post" id="miFormulario">
  <h4>Datos del comprobante</h4>
  <div class="div-container">
    
    <div class="input-group">
      <label for="tipoc" style="text-align: right;">Tipo de Comprobantes:</label>
      <select id="tipoc" name="tipoc"  class="cuadro-pequeno">
          <option value="factura">Factura</option>
          <option value="transporte">Boleta de transporte publico de pasajeros</option>
          <option value="bventa">Boleta de venta</option>
          <option value="bloteria">Boletos de loterias, juegos de azar </option>
          <option value="entrada">Entrada a espectaculos públicos</option>
          <option value="ncredito">Nota de credito</option>
          <option value="ndebito">Nota de debito</option>
          <option value="ticket">Ticket maquina registradora</option>
      </select>
      <label for="fecha">Fecha:</label>
      <input type="date" name="fecha" id="fecha"class="form-control cuadro-pequeno">
    </div>

  
    <div class="input-group">
      <label for="timbrado">Timbrado:</label>
      <input type="number" name="timbrado" id="timbrado" class="form-control cuadro-pequeno">
      <label for="ncomprobante">Numero de comprobante:</label>
      <input type="number" name="ncomprobante" id="ncomprobante"class="form-control cuadro-pequeno">
    </div>
    <h4>Información de la Operación</h4>
    <div class="input-group">
      <div>
        <label for="extranjera">Extranjera:</label><br>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </div>
      <div>
        <label for="operacion">Condición de la operación:</label><br>
        <label for="contado">Contado</label>
        <label class="switch">
            <input type="checkbox" onclick="toggleSwitch(this)">
            <span class="slider round"></span>
        </label>
    
        <label for="credito">Credito</label>
        <label class="switch">
            <input type="checkbox" onclick="toggleSwitch(this)">
            <span class="slider round"></span>
        </label>
      </div>
    </div>

    <h4>Información del Comprador del Bien o Servicio</h4>

    <div class="input-group">
      <label for="tipoid" style="text-align: right;">Tipo de Identificación:</label>
      <select id="tipoid" name="tipoid"  class="cuadro-pequeno">
        <option value="ruc">RUC</option>
        <option value="cin">Cedula de Identidad</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="cie">Cedula Extranjera</option>
        <option value="sin">Sin Nombre</option>
        <option value="diplomatico">Diplomatico</option>
        <option value="idt">Identificación Tributaria</option>
        <option value="cliente">Cliente del Exterior</option>
    </select>
      <label for="numeroid">Numero de Identificación:</label>
      <input type="number" name="numeroid" id="numeroid" class="form-control cuadro-pequeno">
    </div>
    <div class="input-group">
      <label for="nombre">Nombre o Razon Social</label>
    </div>
    <div class="input-group">
      <input type="text" name="nombre" id="nombre"class="form-control cuadro-pequeno">
    </div>

    <h4>Importe</h4>
    <div class="input-group">
      <table>
        <tr>
          <th>Monto Gravado 10%</th>
          <th>Monto Impuesto 10%</th>
          <th>Monto Gravado 5%</th>
          <th>Monto Impuesto 5%</th>
          <th>Monto No Gravado/Exento</th>
        </tr>
        <tr>
          <td><input type="number" value="0" class="form-control cuadro-pequeno"></td>
          <td><input type="number" value="0" class="form-control cuadro-pequeno"></td>
          <td><input type="number" value="0" class="form-control cuadro-pequeno"></td>
          <td><input type="number" value="0" class="form-control cuadro-pequeno"></td>
          <td><input type="number" value="0" class="form-control cuadro-pequeno"></td>
        </tr>
      </table>
    </div>
    <div class="input-group">
      <table class="tabla">
        <tr>
          <th class="borde">Total IVA</th>
          <td class="borde">0</td>
        </tr>
        <tr>
          <th class="borde">Total Comprobante</th>
          <td class="borde">0</td>
        </tr>
      </table>
    </div>
    <h4>Imputación a Obligaciones Asociadas</h4>
    <div class="input-group">
      <table class="tabla">
        <tr>
          <th class="borde">Impuesto</th>
          <th class="borde">Imputa</th>
        </tr>
        <tr>
          <th>IVA General</th>
          <td>
            <label class="switch">
              <input type="checkbox" >
              <span class="slider round"></span>
          </label>
          </td>
        </tr>        
      </table>
    </div>
    <div class="input-group">
      <div class="float-left">
        <a href="/home" class="btn btn-secondary">Cancelar</a>
        <button type="reset" class="btn btn-secondary" onclick="limpiarFormulario()">Limpiar</button>
      </div>
      <a href="/home" class="btn btn-secondary float-right">Guardar</a>
    </div>



  </div>
</form>
<script>
  function toggleSwitch(clickedSwitch) {
    const allSwitches = document.querySelectorAll('.switch input');

    allSwitches.forEach(function (switchInput) {
        if (switchInput !== clickedSwitch) {
            switchInput.checked = false;
        }
    });
  }
  function limpiarFormulario() {
    document.getElementById("miFormulario").reset();
  }

  var idcliente = getParameterByName('idcliente');
  console.log('ID del cliente:', idcliente);
</script>
{% endblock  %}