/* Form styling */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* Label alignment */
.linea-labels label {
  margin-right: 10px;
}

/* Input and select styling */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group input,
.input-group select {
  flex: 1;
  margin-right: 10px;
}

/* Switch styling */
.switch {
  display: flex;
  align-items: center;
}

.switch input {
  margin-right: 5px;
}

.slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.checked {
  background-color: #2196F3;
}

.slider.checked:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Ajustar el tamaño del cuadro de selección */
.cuadro-pequeno {
  width: 150px; 
  border: 1px solid #000; 
  height: 25px; 
}

/* Ajustar el tamaño del campo de fecha */
#linea-labels input[type="date"] {
  width: 150px;
  border: 1px solid #000; /* Borde negro */
  height: 25px; /* Ajusta la altura según tus necesidades */
}
/* Estilo adicional para campos de entrada */
.form-control.cuadro-pequeno {
  border: 1px solid #000; /* Borde negro */
  height: 20px; /* Ajusta la altura según tus necesidades */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
