/* Form styling */
form {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
/* Label alignment */
.linea-labels label {
  margin-right: 10px;
}
/* Input and select styling */
.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-group input,
.input-group select {
  flex: 1;
  margin-right: 10px;
}


/* Ajustar el tamaño del cuadro de selección */
.cuadro-pequeno {
  width: 150px; 
  border: 1px solid #000; 
  height: 30px; 
}
/* Ajustar el tamaño del campo de fecha */
#linea-labels input[type="date"] {
  width: 150px;
  border: 1px solid #000; /* Borde negro */
  height: 30px; /* Ajusta la altura según tus necesidades */
}
/* Estilo adicional para campos de entrada */
.form-control.cuadro-pequeno {
  border: 1px solid #000; /* Borde negro */
  height: 30px; /* Ajusta la altura según tus necesidades */
}







table {
  
  border-collapse: collapse;
  width: 20%;
}

th, td {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}


h4 {
  background-color: gray;
}
.tabla {
  border-collapse: collapse;
  width: 100%;
}
.borde{
  border: 1px solid white;
 /* padding: 8px;*/
  text-align: center;
}

.custom-control {
  text-align: center; 
  
}