body {
  font-family: Arial, sans-serif;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button[type="button"]:hover {
  background-color: #0056b3;
}
/* Estilo para la tabla */
table {
  width: 100%; /* Ancho de la tabla al 100% del contenedor */
  border-collapse: collapse; /* Colapso de bordes */
  margin-bottom: 20px; /* Espacio entre la tabla y elementos siguientes */
  font-family: Arial, sans-serif; /* Fuente de texto */
}

/* Estilo para las celdas del encabezado */
th {
  background-color: #333; /* Fondo gris oscuro */
  color: #fff; /* Texto blanco */
  padding: 10px; /* Espacio interior de la celda */
  text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo para las celdas del cuerpo */
td {
  border: 1px solid #ccc; /* Borde delgado de color gris claro */
  padding: 8px; /* Espacio interior de la celda */
}

/* Estilo para filas impares */
tr:nth-child(odd) {
  background-color: #f2f2f2; /* Fondo gris claro para filas impares */
}
